<%- include("header"); -%> 

<h2> About page </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minima, nihil numquam tempore autem obcaecati,
    repellat iste temporibus eveniet exercitationem veritatis cupiditate explicabo in sapiente tenetur natus labore. Non
    hic molestiae a? Quasi deleniti obcaecati impedit saepe, rerum consequatur nostrum vitae dicta odit tenetur,
    temporibus laboriosam amet asperiores repellendus, eius officia architecto sed? Cumque error voluptatem aperiam
    labore itaque repellat obcaecati facilis non voluptas quasi? Harum, ea ipsam. Inventore omnis sunt distinctio
    adipisci nemo voluptatem illum hic iure quisquam culpa. Vero aspernatur repudiandae dolorum ipsa? Inventore hic quas
    labore velit, voluptatem architecto eius aperiam eveniet vero deleniti neque maxime excepturi blanditiis ducimus
    consequatur illum ipsum eos ipsam vitae minima iure corrupti enim deserunt. Nihil saepe impedit assumenda, non quo
    quam repellat hic rem fuga rerum!</p>

<%- include("footer"); -%> 